<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.ex02.MessageMapper">
	<insert id="create">
		insert into tbl_message
			(m_id, targetid, sender, message)
		values 
			(seq_message_id.nextval, #{targetid}, #{sender}, #{message})
	</insert>
	
	<select id="readMessage" resultType="MessageVo">
		select * from tbl_message
		where m_id = #{m_id}
	</select>
	
	<update id="updateState">
		update tbl_message set
			opendate = sysdate
		where m_id = #{m_id}
	</update>
</mapper>